<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<form>
<input type ="button" value = "enter into table" (click) = "getEmployees()">
</form>
<div>
    <table border="1">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee phone</th>
                <th>Employe Email</th>
                <th>Employee Dept</th>
                <th>Manager ID</th>
                <th>Leave Balance</th>
                <th>Date Of Joining</th>
            </tr>
        </thead>
        <tbody class="employees">
            <tr *ngFor="let employee of employees">
                <td>
                    <h5>{{employee.empId}}</h5>
                </td>
                <td>
                    <h5>{{employee.empName}}</h5>
                </td>
                <td>
                    <h5>{{employee.empPh}}</h5>
                </td>
                <td>
                    <h5>{{employee.empEmail}}</h5>
                </td>
                <td>
                    <h5>{{employee.empDept}}</h5>
                </td>
                <td>
                    <h5>{{employee.empManagerId}}</h5>
                </td>
                <td>
                    <h5>{{employee.empDoj}}</h5>
                </td>
                <td>
                        <button class="ui primary button">
                                Save
                              </button>
                </td>         
            </tr>
        </tbody>
    </table>
    <app-delete></app-delete>
    <br/><br/>
    <update></update>
    <br/><br/>
    <history></history>
    <br/><br/>
    <pending></pending>
    <br/><br/>
    <app-employeebyid></app-employeebyid>
    <br/><br/>
    <br/><br/>
    <app-applyleave></app-applyleave>         
</div>
