<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div>
    <table border="1">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee Number</th>
                <th>Employee Mail</th>
                <th>Employee Dept</th>
                <th>Employee Mgr Id</th>
                <th>Employee Leave</th>
                <th>Employee DOJ</th>
            </tr>
        </thead>
        <tbody class="employees">
            <tr *ngFor="let employee of employees">
                <td>
                    <h5>{{employee.empId}}</h5>
                </td>
                <td>
                    <h5>{{employee.empName}}</h5>
                </td>
                <td>
                    <h5>{{employee.empPh}}</h5>
                </td>
                <td>
                    <h5>{{employee.empEmail}}</h5>
                </td>
                <td>
                    <h5>{{employee.empDept}}</h5>
                </td>
                <td>
                    <h5>{{employee.empManagerId}}</h5>
                </td>
                <td>
                    <h5>{{employee.empManagerId}}</h5>
                </td>
                <td>
                    <h5>{{employee.empDoj}}</h5>
                </td>           
            </tr>
        </tbody>
    </table>
    <br/><br/>
    <pending></pending>
    <br/><br/>
    <app-employeebyid></app-employeebyid>
    <br/><br/>
    <br/><br/>
    <app-delete></app-delete>
    <history></history>
</div>
